.Products {
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
  margin-top: 27px;
}

.Cart {
  font-size: 20px;
  text-align: right;
  margin-left: 15px;
  margin-top: 27px;
}

.Header {
  display: flex;
  font-size: 45px;
  margin-left: 20px;
}
